<div class="column twelve wide sticky">
    <div class="ui sticky {{ base_key }}">
        <div class="ui segment help">
            <p>Click a command to the left to see information about it.</p>
        </div>
        <div class="ui segment supercool" style="display: none;">
            <h5>Command settings</h5>
            <table class="ui table collapsed celled collapsing {{ base_key }} command-data">
                <tbody>
                    <tr data-key="id">
                        <td class="label collapsing">ID</td>
                        <td class="value"></td>
                    </tr>
                    <tr data-key="level">
                        <td class="label collapsing">Level required</td>
                        <td class="value"></td>
                    </tr>
                    <tr data-key="description">
                        <td class="label collapsing">Description</td>
                        <td class="value"></td>
                    </tr>
                    <tr data-key="cd_all">
                        <td class="label collapsing">Cooldown</td>
                        <td><span class="value"></span> seconds</td>
                    </tr>
                    <tr data-key="cd_user">
                        <td class="label collapsing">User cooldown</td>
                        <td><span class="value"></span> seconds</td>
                    </tr>
                    <tr data-key="sub_only">
                        <td colspan="2" class="value"></td>
                    </tr>
                    <tr data-key="can_execute_with_whisper">
                        <td colspan="2" class="value"></td>
                    </tr>
                    <tr data-key="cost">
                        <td class="label collapsing">Point cost</td>
                        <td colspan="2" class="value"></td>
                    </tr>
                </tbody>
            </table>
            <div class="command-examples"></div>
            <div class="long_description"></div>
            <p>
                <a class="detailed" href="#">Detailed page</a>
            </p>
        </div>
    </div>
</div>
