.vscode/
.github/
.circleci/
.git/

venv/
install-docs/
scripts/
docs/
pajbot/tests/
static/images/badge_sub_*

.dockerignore
.flake8
.gitattributes
.gitignore
.isort.cfg
.prettierignore
.pylintrc

CHANGELOG.md
README.md
LICENSE
requirements-dev.txt
pyproject.toml
Dockerfile
