# Python-specific stuff
__pycache__
*.py[cod]
*$py.class

# Folder created by pip
src/

# system files
.DS_Store

# PID files
.*.pid

# Log folder
logs/

# Config folder
configs/
config.ini

# User created code
userdispatch.py

node_modules
