# Python-specific stuff
__pycache__
*.py[cod]
*$py.class
.pytest_cache/

# system files
.DS_Store

# PID files
.*.pid

# Log folder
logs/

# Config folder
configs/
uwsgiconfigs/
config.ini
/*.ini
!uwsgi_cache.ini
!uwsgi_shared.ini
!configs/example.ini
!.mypy.ini

# User created code
userdispatch.py

# Ignore virtual environment folder
venv/

.idea/
.vscode/
.vscode-server/
.vim/
