# Python-specific stuff
__pycache__
*.py[cod]
*$py.class

# system files
.DS_Store

# PID files
.*.pid

# Log folder
logs/

# Config folder
configs/
uwsgiconfigs/
config.ini
/*.ini

# User created code
userdispatch.py

# Ignore virtual environment folder
myvenv/
