# The library we use for all DB Transactions
sqlalchemy

# The library we use for handling DB Revisions
alembic

# My version of tweepy, which allows us to start the twitter thread as a daemon.
git+git://github.com/pajlada/tweepy.git

# The IRC Library we use to connect to the chat servers
irc

colorama
pytz
beautifulsoup4
requests

# New regex library with support for some fancy features we require
regex

# Used for scheduling timed events, such as in the hsbet module
apscheduler

unittest2

# Pylast for Last FM
pylast

# Riotwatcher for League of Legends api
riotwatcher

# Used to communicating with the redis server
# The redis service is required for storing data such as
# user warnings
redis

# Required for websockets
autobahn[twisted]

# Required if we want to use the wolfram api
wolframalpha

# MySQL for python3
pymysql

# Alternative random module
numpy

# Required for the basic features of the web interface
-r requirements/web.txt

# Required for Websocket
pyOpenSSL
service_identity
cryptography

# Used for the Trivia module
python-Levenshtein

# Required for the pleblist to work properly
-r requirements/pleblist.txt

# Required for generating thumbnails for the logo
# -r requirements/thumbnail.txt

flake8
flake8-quotes
flake8-import-order

pyscss
