# The library we use for all DB Transactions
sqlalchemy

# The library we use for handling DB Revisions
alembic

# My version of tweepy, which allows us to start the twitter thread as a daemon.
git+git://github.com/pajlada/tweepy.git

# The IRC Library we use to connect to the chat servers
irc

wolframalpha
colorama
pytz
autobahn[twisted]
beautifulsoup4
requests
regex

# MySQL for python3
pymysql

# needed for the web interface
flask
flask-scrypt
flask-oauthlib
markdown
apscheduler

# if you want to use the websocket
#pyOpenSSL
#service_identity

# Required for the pleblist to work properly
google-api-python-client
isodate

# Required for generating thumbnails for the logo
Pillow

# Required for generating highlight thumbnails
m3u8
