[project]
name = "pajbot"
version = "1.68"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
]

[tool.black]
line-length = 120

[tool.ruff]
line-length = 120

# select = [ "ALL" ]
select = [ "E", "F" ]

ignore = [
    "FIX", # Ignore flake8-fixme rules
    "D", # Ignore doc style stuff
    "ERA", # Ignore eradicate rules
# "ANN", # Ignore annotation/typing rules, rely on mypy for now
    "ANN101", # missing-type-self
    "ANN401", # disable any
    "ARG002", # unused method arg
    "RUF012", # class has mutable member
    "C901", # too complex
    "SIM108", # use-ternary
    "PLR0915", # too many statements
    "PLR0913", # too many arguments to function call
    "PLR2004", # magic value used in comparison
    "E722", # bare except
    "E501", # line too long
]

ignore-init-module-imports = true

[tool.ruff.isort.sections]
"typing" = ["typing"]

[tool.ruff.isort]
section-order = ["future", "typing", "standard-library", "first-party", "third-party", "local-folder"]

[tool.ruff.pyupgrade]
keep-runtime-typing = true

[tool.uv.workspace]
members = ["bot", "pajbot", "web"]

[tool.uv.sources]
pajbot = { workspace = true }
