black==21.8b0
flake8==3.9.2
pytest==6.2.5
mypy==0.910

# mypy type stubs
types-cryptography==3.3.5
types-enum34==1.1.0
types-ipaddress==1.0.0
types-Markdown==3.3.2
types-pkg-resources==0.1.3
types-pytz==2021.1.2
types-redis==3.5.7
types-requests==2.25.6
types-retry==0.1.5
types-toml==0.1.5
