body {
  background-color: transparent;
  color: white;
}

#tip-alert {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
  word-wrap: break-word;
  color: white;
}

#tip-alert.basic #new-tip {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

#tip-alert.basic .note-wrapper {
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 auto;
  line-height: 0.99em;
  text-align: center;
  display: flex;
  align-items: center;
}

#tip-alert.basic .note-wrapper .note {
  margin: 3px 10px;
}

#tip-alert.split div.from {
  font-family: 'Comfortaa', 'Verdana', serif;
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
}

#tip-alert.split div.note {
  font-size: 1.18em;
  line-height: 0.99em;
  font-family: 'Verdana';
  font-weight: normal;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
}

#tip-alert .emote {
  height: 1.2em;
  margin: -5px 0;
}

