.pulsebig {
  -webkit-animation-name: pulsebig;
  animation-name: pulsebig;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

@-webkit-keyframes pulsebig {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulsebig {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*
Temporarily disabled because idk if that's really a good thing...
and it looked ugly when the emote combo was pulsing
* {
  overflow: hidden !important;
}
 */

body {
  font-family: "Arial", sans-serif;
  color: #fff;
}

div.exploding {
  width: 50px;
  height: 50px;
  position: absolute;
}

div.absemote_container {
  position: fixed;
  transform: translate(-50%, -50%);
}

img.absemote,
#emote_combo img {
  image-rendering: pixelated;
}

div.notifications {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 1.25em;
  font-weight: 600;
}

div.notifications div {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  font-family: "Comic Sans MS";
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  word-break: break-all;
}

.tts {
  top: 5px;
  position: fixed;
}

div.notifications div span.word1 {
  color: #dfffdf;
}

div.notifications:not(div.notifications.tts) div span.word4 {
  color: #ffdfdf;
}

#hsbet {
  width: 270px;
  position: absolute;
  top: 150px;
  display: none;
}
#hsbet td,
#hsbet div {
  font-size: 1.15em;
  font-weight: bold;
  font-family: "Roboto";
}
#hsbet .chart {
  width: 70%;
}
#hsbet .win {
  color: #64dd17;
}
#hsbet .lose {
  color: #d50000;
}
#hsbet div.left {
  float: left;
}
#hsbet div.right {
  position: absolute;
  bottom: 0;
  right: 50;
}

#bet {
  width: 500px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  td, div {
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Roboto";
  }
  #lossbettors,
  #winbettors {
    color: #fff;
    -webkit-text-stroke: 1px black;
  }
  #winpoints {
    color: #fff;
    -webkit-text-stroke: 1px black;
  }
  #losspoints {
    color: #fff;
    -webkit-text-stroke: 1px black;
  }
  .win {
    color: #7cd444;
  }
  .lose {
    color: #d62727;
  }
  div.left {
    float: left;
  }
  div.right {
    position: absolute;
    bottom: 0;
    right: 50;
  }
}

#songrequest {
  display: none;
  position: fixed;
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
