.pulsebig {
  -webkit-animation-name: pulsebig;
  animation-name: pulsebig;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

@-webkit-keyframes pulsebig {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulsebig {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
* {
  overflow: hidden !important;
}

body {
  font-family: "Arial", sans-serif;
  color: #fff;
}

div.exploding {
  width: 50px;
  height: 50px;
  position: absolute;
}

img.absemote {
  position: absolute;
}

div.notifications {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 1.25em;
  font-weight: 600;
}
div.notifications div {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  font-family: "Comic Sans MS";
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
div.notifications div span.word1 {
  color: #dfffdf;
}
div.notifications div span.word4 {
  color: #ffdfdf;
}

#hsbet {
  width: 270px;
  position: absolute;
  top: 150px;
  display: none;
}
#hsbet td, #hsbet div {
  font-size: 1.15em;
  font-weight: bold;
  font-family: "Roboto";
}
#hsbet .chart {
  width: 70%;
}
#hsbet .win {
  color: #64DD17;
}
#hsbet .lose {
  color: #D50000;
}
#hsbet div.left {
  float: left;
}
#hsbet div.right {
  position: absolute;
  bottom: 0;
  right: 50;
}
