{% extends "admin/layout.html" %}
{% set active_page = 'admin_banphrases' %}
{% block title %}Admin - Banphrases{% endblock %}
{% block body %}
<h2>Banphrases</h2>
<table class="ui table basic">
    <thead>
        <tr>
            <th class="collapsing">ID</th>
            <th class="collapsing">Action</th>
            <th>Phrase</th>
            <th class="collapsing">Times used</th>
            <th class="collapsing">Notify</th>
            <th class="collapsing">Added by</th>
        </tr>
    </thead>
    <tbody>
        {% for banphrase in banphrases %}
        {% set user = banphrase.data.user %}
        <tr>
            <td class="collapsing">{{ banphrase.id }}</td>
            <td class="collapsing">{{ 'Permaban' if banphrase.permanent else 'Timeout ({})'.format(banphrase.length|time_ago_timespan_seconds) }}</td>
            <td>{{ banphrase.phrase }}</td>
            <td class="collapsing">{{ banphrase.data.num_uses }}</td>
            <td class="collapsing">{{ 'Yes' if banphrase.notify else 'No' }}</td>
            <td class="collapsing">{% include 'user/username_link.html' %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
