{% extends "admin/layout.html" %}
{% set active_page = 'admin_commands' %}
{% block title %}Admin - Commands{% endblock %}
{% block body %}
<button class="ui button create-command green"><i class="icon add"></i> <strong>Create Command</strong></button>
<h2>Commands</h2>
<p>This is a list of all commands that you can edit.</p>
<div id="commands">
<div class="ui top attached tabular menu">
    <a class="item custom active" data-tab="custom">Regular Commands</a>
    {% if point_commands|length > 0 %}
        <a class="item point" data-tab="point">Point Commands</a>
    {% endif %}
    {% if moderator_commands|length > 0 %}
        <a class="item moderator" data-tab="moderator">Moderator Commands</a>
    {% endif %}
</div>
<div class="ui bottom attached tab segment active" data-tab="custom">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th class="one wide">Command</th>
                <th class="six wide">Output/Description</th>
                <th class="one wide">Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for command in custom_commands %}
    <tr data-id="{{command.id}}">
        <td>
            {% include 'command/usage.html' %}
        </td>
        <td class="pemote">{{ command.parsed_description }}</td>
        <td class="right aligned">
            <button class="ui compact button remove-command" data-id="{{ command.id }}"><i class="icon red remove"></i>Remove</button>
            <button class="ui compact button edit-command" data-id="{{ command.id }}"><i class="icon edit"></i>Edit</button>
        </td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="point">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th class="two wide">Command</th>
                <th class="one wide">Cost</th>
                <th class="six wide">Description</th>
                <th class="one wide">Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for command in point_commands %}
    <tr data-id="{{command.id}}">
        <td>{% include 'command/usage.html' %}</td>
        <td>{{ command.cost }}</td>
        <td class="pemote">{{ command.parsed_description }}</td>
        <td class="right aligned">
            <button class="ui compact button remove-command" data-id="{{ command.id }}"><i class="icon red remove"></i>Remove</button>
            <button class="ui compact button edit-command" data-id="{{ command.id }}"><i class="icon edit"></i>Edit</button>
        </td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="moderator">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th class="one wide">Command</th>
                <th class="three wide">Description</th>
                <th class="one wide">Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for command in moderator_commands %}
    <tr data-id="{{command.id}}">
        <td>{% include 'command/usage.html' %}</td>
        <td class="pemote">{{ command.parsed_description }}</td>
        <td class="right aligned">
            <button class="ui compact button remove-command" data-id="{{ command.id }}"><i class="icon red remove"></i>Remove</button>
            <button class="ui compact button edit-command" data-id="{{ command.id }}"><i class="icon edit"></i>Edit</button>
        </td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="ui modal remove-command">
    <i class="close icon"></i>
    <div class="header">Confirm Action</div>
    <div class="content">
        <div class="description">
            Are you sure you want to remove this command? This action is irreversible.
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button">Remove</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    $('#commands .menu .item')
        .tab({
            context: $('#commands'),
        });

    function update_tab()
    {
        var hash = window.location.hash.substring(1);

        if (hash.length > 1) {
            var el = $('#commands .menu .item.'+hash);
            if (el !== undefined) {
                el.click();
            }
        }
    }

    update_tab();

    $(window).bind('hashchange', function(e) {
        update_tab();
    });

    $('button.create-command').click(function() {
        document.location.href = '/admin/commands/create';
    });

    $('button.edit-command').click(function() {
        var command_id = $(this).data('id');
        document.location.href = '/admin/commands/edit/' + command_id;
    });

    var command_id_remove = 0
    $('button.remove-command').click(function() {
        command_id_remove = $(this).data('id');
        $('.ui.modal.remove-command').modal('show');
    });

    $('.ui.modal.remove-command').modal({
        onApprove: function(el) {
            $.api({
                on: 'now',
                action: 'remove_command',
                urlData: {
                    'id': command_id_remove,
                },
                onSuccess: function(response, element) {
                    $('tr[data-id="'+command_id_remove+'"]').remove();
                },
                onFailure: function(response, element) {
                    console.error('something went wrong');
                },
            });
        }
    });
});
</script>
{% endblock %}
