{% extends "admin/layout.html" %}
{% set active_page = 'admin_modules' %}
{% block title %}Configure Module{% endblock %}
{% block body %}
{% if request.method == 'POST' %}
<div class="ui success message">
    <i class="close icon"></i>
    <div class="header">Successfully edited the module</div>
</div>
{% endif %}
<h2>Configure &quot;{{ module.NAME }}&quot;</h2>
{% if module.PARENT_MODULE is not none %}
<h3>Parent module: <a href="/admin/modules/edit/{{ module.PARENT_MODULE.ID }}">{{ module.PARENT_MODULE.NAME }}</a></h3>
{% endif %}
<p>{{ module.DESCRIPTION }}</p>
{% if module.PAGE_DESCRIPTION is not none %}
<p>{{ module.PAGE_DESCRIPTION }}</p>
{% endif %}
<div class="ui divider"></div>
{% if sub_modules|length > 0 %}
<h3>Sub-modules</h3>
    <table class="ui very basic table collapsing">
        <thead>
            <tr>
                <th class="collapsing">Module</th>
                <th>Description</th>
                <th class="collapsing">Enabled</th>
                <th class="collapsing">Actions</th>
            </tr>
        </thead>
        <tbody>
{% for row in sub_modules %}
            <tr data-id="{{row.ID}}" data-enabled="{{1 if row.db_module.enabled else 0}}">
                <td class="collapsing">{{ row.NAME }}</td>
                <td>{{ row.DESCRIPTION }}</td>
                <td class="right aligned collapsing">
                    {% if row.MODULE_TYPE != 2 %}
                        <div class="ui toggle checkbox">
                            <input data-id="{{row.ID}}" type="checkbox" name="public" class="toggle-row" {{ 'checked="checked"' if row.db_module.enabled else '' }}>
                            <label></label>
                        </div>
                    {% endif %}
                </td>
                <td class="right aligned collapsing">
                <button class="ui compact button edit-row"><i class="icon setting"></i>Configure</button></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    {% endif %}
    <h3>Settings</h3>
{% if module.SETTINGS|length > 0 %}
<form class="ui form" method="POST" action="/admin/modules/edit/{{ module.ID }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token()  }}"/>
    {%- for setting in module.SETTINGS %}
    <div class="{{ 'required' if setting.required else ''}} {{ 'inline' if setting.type in ['boolean'] else '' }} field eight wide">
        <label for="key_{{ setting.key }}">{{ setting.label }}</label>
        {% if setting.type == 'text' %}
        <input type="text" " id="key_{{ setting.key }}" name="{{ setting.key }}" placeholder="{{ setting.placeholder }}" value="{{ module.settings[setting.key] }}" />
        {% elif setting.type == 'number' %}
        <input type="number" id="key_{{ setting.key }}" name="{{ setting.key }}" placeholder="{{ setting.placeholder }}" value="{{ module.settings[setting.key] }}"
          {% if 'min_value' in setting.constraints %} min="{{ setting.constraints['min_value'] }}" {% endif %}
          {% if 'max_value' in setting.constraints %} max="{{ setting.constraints['max_value'] }}" {% endif %}
        />
        {% elif setting.type == 'boolean' %}
        <input type="checkbox" id="key_{{ setting.key }}" name="{{ setting.key }}" {{ 'checked' if module.settings[setting.key] == True else ''}} />
        {% elif setting.type == 'options' %}
        <select id="key_{{ setting.key }}" name="{{ setting.key }}">
            {%- for option in setting.options %}
            <option{{ ' selected' if option == module.settings[setting.key] else '' }}>{{ option }}</option>
            {% endfor -%}
        </select>
        {% else %}
        Unknown type: {{ setting.type }}
        {% endif %}
    </div>
    {% endfor -%}
    <div class="ui message warning" style="padding: 0.4em;"></div>
    <div class="ui message error" style="padding: 0.4em;"></div>
    <div class="ui submit button green"><i class="icon setting"></i>Configure</div>
</div>
</form>
{% else %}
<p>No settings to configure for this module.</p>
{% endif %}
{% endblock %}
{% block footer %}
{% assets 'admin_create_row' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
$(document).ready(function() {
    $('form').form({
        fields: {
            {%- for setting in module.SETTINGS %}
            {% if setting.constraints|length > 0 %}
            {{ setting.key }}: {
                                   identifier: '{{ setting.key }}',
                                   rules: [
                                   {% for con_key, con_value in setting.constraints.items() %}
                                   {% if con_key == 'min_str_len' %}
                                   {
                                       type: 'minLength[{{ con_value }}]',
                                       prompt: '"{{ setting.label }}" must be at least {{ con_value }} characters'
                                   },
                                   {% elif con_key == 'max_str_len' %}
                                   {
                                       type: 'maxLength[{{ con_value }}]',
                                       prompt: '"{{ setting.label }}" must be at most {{ con_value }} characters'
                                   },
                                   {% elif con_key == 'min_value' and 'max_value' in setting.constraints %}
                                   {
                                       type: 'integer[{{ con_value }}..{{ setting.constraints['max_value'] }}]',
                                       prompt: '"{{ setting.label }}" must be at least {{ con_value }} and at most {{ setting.constraints['max_value'] }}'
                                   },
                                   {% endif %}
                                   {% endfor %}
                                   ]
                               },
            {% endif %}
            {% endfor -%}
        },
        keyboardShortcuts: false,
    });

    $('.message .close').on('click', function() {
        $(this).closest('.message').transition('fade');
    });
    enable_edit_row('modules');
    enable_toggle_row_cb('toggle_module');
});
</script>
{% endblock %}
