{% extends "admin/layout.html" %}
{% set active_page = 'admin_home' %}
{% block title %}Admin - Home{% endblock %}
{% block body %}
<h2>Admin Zone</h2>
Use the links in the menu to browse admin-only sites.

<table class="ui table collapsing">
    <thead>
        <tr>
            <th>Admin</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for log in latest_logs %}
        {% set user = log.user %}
        <tr>
            <td class="collapsing">{% include 'user/username_link_nobadge.html' %}</td>
            <td class="collapsing">{{ log.created_at }}</td>
            <td>{{ log.message|safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
