{% extends "admin/layout.html" %}
{% set active_page = 'admin_home' %}
{% block title %}Admin - Home{% endblock %}
{% block body %}
<h2>Admin Zone</h2>
Use the links in the menu to browse admin-only sites.

{% include 'admin/twitter.html' %}
{% include 'admin/logs.html' %}

{% endblock %}
{% block footer %}
{%- assets 'paginate_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}
<script type="text/javascript">
function on_success(response, key)
{
    console.log(response);

    var rows = [];
    for (var i in response.follows) {
        (function() {
            var follow = response.follows[i];
            var $tr = $('<tr>');
            $tr.append($('<td>').text(follow.username));
            var $action_td = $('<td>');
{%- if not session.user.level or session.user.level >= 1000 %}
            var $unfollow_btn = $('<button>', {
                class: 'ui button',
            }).html('<i class="icon minus red"></i>Unfollow');
            $unfollow_btn.api({
                action: 'twitter_unfollow',
                method: 'POST',
                beforeSend: function(settings) {
                    settings.data.username = follow.username;
                    return settings;
                },
                onSuccess: function(response, element, xhr) {
                    element.closest('tr').hide();
                }
            });
            $action_td.append($unfollow_btn);
{% endif -%}
            $tr.append($action_td);
            rows.push($tr)
        })();
    }
    paginate_add_rows(key, rows);
}

$(document).ready(function() {
    paginate('.twitter_follows', 5, 'desc', 'get_twitter_follows', on_success);

    $('.twitter-follow button').api({
        action: 'twitter_follow',
        method: 'POST',
        beforeSend: function(settings) {
            settings.data.username = $('.twitter-follow input[type="text"]').val();
            return settings;
        },
        onSuccess: function(response, element, xhr) {
            console.log(response);
            $('.twitter-follow input[type="text"]').val('');
            paginate_reload('.twitter_follows');
        }
    });
});
</script>
{% endblock %}
