{% extends "layout.html" %}
{% block menu %}
    <div class="ui top fixed menu inverted blue">
        <div class="menu" style="margin:auto;">
        {% for menuitem in nav_bar_admin_header %}
        {%- if not session.user or session.user.level > menuitem.level %}
            {%- if menuitem.id %}
            <a class="inverted blue item{%- if menuitem.id == active_page %} active{% endif -%}" href="{{ menuitem.href }}">
                {%- if menuitem.id == 'home' %}
                <img class="logo" src="/static/images/logo_{{ streamer.full_name }}.png" alt="{{ streamer.name }} logo"/>
                {% endif -%}
                {{ menuitem.caption }}</a>
            {%- else %}
            <div class="ui compact menu inverted blue">
                <div class="ui simple dropdown item">{{ menuitem.caption }}<i class="dropdown icon"></i>
                    <div class="menu">
                        {%- for submenuitem in menuitem.href %}
                            <a class="inverted blue item{% if submenuitem.id == active_page %} active{% endif %}" href="{{ submenuitem.href }}">
                            {{ submenuitem.caption }}</a>
                        {% endfor -%}
                    </div>
                </div>
            </div>
            {% endif -%}
        {% endif -%}
        {% endfor %}
        </div>
    </div>
{% endblock %}
