{% extends "admin/layout.html" %}
{% set active_page = 'admin_modules' %}
{% block title %}Modules{% endblock %}
{% block body %}
<h2>Modules</h2>
<div id="bot_moderators">
    <table class="ui very basic table collapsing">
        <thead>
            <tr>
                <th class="collapsing">Module</th>
                <th>Description</th>
                <th class="collapsing">Enabled</th>
                <th class="collapsing">Actions</th>
            </tr>
        </thead>
        <tbody>
{% for row in modules if row.PARENT_MODULE is none %}
            <tr data-id="{{row.ID}}" data-enabled="{{1 if row.db_module.enabled else 0}}">
                <td class="collapsing">{{ row.NAME }}</td>
                <td>{{ row.DESCRIPTION }}</td>
                <td class="right aligned collapsing">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="public" class="toggle-row" {{ 'checked="checked"' if row.db_module.enabled else '' }}>
                        <label></label>
                    </div>
                </td>
                <td class="right aligned collapsing">
                <button class="ui compact button edit-row"><i class="icon setting"></i>Configure</button></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
{% assets 'admin_create_row' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
$(document).ready(function() {
    enable_edit_row('modules');
    enable_toggle_row_cb('toggle_module');
});
</script>
{% endblock %}
