<!DOCTYPE HTML>
<html>
<head>
    <title>CLR Overlay</title>
    <link href='https://fonts.googleapis.com/css?family=Tenor+Sans|Comfortaa:400,700,300|Roboto:300,400,500,700|Noto+Sans:400,700'
          rel='stylesheet' type='text/css'>
    {% include 'dependencies/jquery.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js" integrity="sha512-9ex1Kp3S7uKHVZmQ44o5qPV6PnP8/kYp8IpUHLDJ+GZ/qpKAqGgEEH7rhYlM4pTOSs/WyHtPubN2UePKTnTSww==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js" integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw==" crossorigin="anonymous"></script>
    {% include 'dependencies/howler.html' %}
    {% include 'dependencies/animatecss.html' %}
    {% assets 'clr_overlay_css' %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    <script type="text/javascript">
        var ws_host = '{{ site.websocket.host }}';
    </script>
    {% assets 'clr_overlay_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
<div class="notifications"></div>
</body>
</html>
