{% extends "layout.html" %}
{% set active_page = 'decks' %}
{% block title %}Decks - Top 25{% endblock %}
{% block body %}
<h2>Decks - Top 25</h2>
{% include 'decks/menu.html' %}
<div class="ui bottom attached tab segment active" data-tab="custom">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class</th>
                <th>Deck</th>
                <th>First Used</th>
                <th>Last Used</th>
            </tr>
        </thead>
        <tbody>
{% for deck in top_decks %}
{% include 'list/deck.html' %}
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
