.pui.badge
  padding: 0
  float: none !important
  margin: 0
  height: 18px
  min-width: 18px
  display: inline-block
  vertical-align: middle
  background-size: 100%
  &.staff
    background-image: url("/static/images/badge_staff_1x.png")
    background-image: -webkit-image-set("/static/images/badge_staff_1x.png" 1x, "/static/images/badge_staff_2x.png" 2x, "/static/images/badge_staff_4x.png" 4x)
    background-image: image-set("/static/images/badge_staff_1x.png" 1x, "/static/images/badge_staff_2x.png" 2x, "/static/images/badge_staff_4x.png" 4x)
  &.broadcaster
    background-image: url("/static/images/badge_broadcaster_1x.png")
    background-image: -webkit-image-set("/static/images/badge_broadcaster_1x.png" 1x, "/static/images/badge_broadcaster_2x.png" 2x, "/static/images/badge_broadcaster_4x.png" 4x)
    background-image: image-set("/static/images/badge_broadcaster_1x.png" 1x, "/static/images/badge_broadcaster_2x.png" 2x, "/static/images/badge_broadcaster_4x.png" 4x)
  &.globalmod
    background-image: url("/static/images/badge_globalmod_1x.png")
    background-image: -webkit-image-set("/static/images/badge_globalmod_1x.png" 1x, "/static/images/badge_globalmod_2x.png" 2x, "/static/images/badge_globalmod_4x.png" 4x)
    background-image: image-set("/static/images/badge_globalmod_1x.png" 1x, "/static/images/badge_globalmod_2x.png" 2x, "/static/images/badge_globalmod_4x.png" 4x)
  &.moderator
    background-image: url("/static/images/badge_moderator_1x.png")
    background-image: -webkit-image-set("/static/images/badge_moderator_1x.png" 1x, "/static/images/badge_moderator_2x.png" 2x, "/static/images/badge_moderator_4x.png" 4x)
    background-image: image-set("/static/images/badge_moderator_1x.png" 1x, "/static/images/badge_moderator_2x.png" 2x, "/static/images/badge_moderator_4x.png" 4x)
  &.helper
    background: #595959 url('/static/images/badge_helper.png')
  &.turbo
    background-image: url("/static/images/badge_turbo_1x.png")
    background-image: -webkit-image-set("/static/images/badge_turbo_1x.png" 1x, "/static/images/badge_turbo_2x.png" 2x, "/static/images/badge_turbo_4x.png" 4x)
    background-image: image-set("/static/images/badge_turbo_1x.png" 1x, "/static/images/badge_turbo_2x.png" 2x, "/static/images/badge_turbo_4x.png" 4x)
  &.bot
    background: url('/static/images/badge_bot.png')
  &.vip
    background-image: url("/static/images/badge_vip_1x.png")
    background-image: -webkit-image-set("/static/images/badge_vip_1x.png" 1x, "/static/images/badge_vip_2x.png" 2x, "/static/images/badge_vip_4x.png" 4x)
    background-image: image-set("/static/images/badge_vip_1x.png" 1x, "/static/images/badge_vip_2x.png" 2x, "/static/images/badge_vip_4x.png" 4x)
  &.founder
    background-image: url("/static/images/badge_founder_1x.png")
    background-image: -webkit-image-set("/static/images/badge_founder_1x.png" 1x, "/static/images/badge_founder_2x.png" 2x, "/static/images/badge_founder_4x.png" 4x)
    background-image: image-set("/static/images/badge_founder_1x.png" 1x, "/static/images/badge_founder_2x.png" 2x, "/static/images/badge_founder_4x.png" 4x)
