{% extends "layout.html" %}
{% set active_page = 'commands' %}
{% block title %}Commands{% endblock %}
{% block body %}
<h2>Commands</h2>
<div id="commands">
<div class="ui top attached tabular menu">
    <a class="item custom active" data-tab="custom">Regular Commands</a>
    {% if point_commands|length > 0 %}
        <a class="item point" data-tab="point">Point Commands</a>
    {% endif %}
    {% if moderator_commands|length > 0 %}
        <a class="item moderator" data-tab="moderator">Moderator Commands</a>
    {% endif %}
</div>
<div class="ui bottom attached tab segment active" data-tab="custom">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th>Command</th>
                <th>Output/Description</th>
            </tr>
        </thead>
        <tbody>
    {% for command in custom_commands %}
    <tr>
        <td>
            {% include 'command/usage.html' %}
        </td>
        <td class="pemote">{{ command.description }}</td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="point">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th>Command</th>
                <th>Cost</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for command in point_commands %}
    <tr>
        <td>{% include 'command/usage.html' %}</td>
        <td>{{ command.cost }}</td>
        <td class="pemote">{{ command.description }}</td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="moderator">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th>Command</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for command in moderator_commands %}
    <tr>
        <td>{% include 'command/usage.html' %}</td>
        <td class="pemote">{{ command.description }}</td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    $('#commands .menu .item')
        .tab({
            context: $('#commands'),
        });

    function update_tab()
    {
        var hash = window.location.hash.substring(1);

        if (hash.length > 1) {
            var el = $('#commands .menu .item.'+hash);
            if (el !== undefined) {
                el.click();
            }
        }
    }

    update_tab();

    $(window).bind('hashchange', function(e) {
        update_tab();
    });
});
</script>
{% endblock %}
