{% extends "layout.html" %}
{% set active_page = 'contact' %}
{% block title %}Contact{% endblock %}
{% block body %}
<div class="ui segment">
<h2>Contact</h2>
<p>Hi, I'm pajlada! I'm the current maintainer and developer of {{ bot.name }}.</p>
<p>{{ bot.name }} is running on the <strong>pajbot</strong> source, which is coded in Python.</p>
<p>Got any questions or comments about the bot or the website? <a href="https://discord.gg/qbRE8WR">You can join discord for support!</a> Or just message me: pajlada#2107</p>
</div>
{% endblock %}
