{% extends "layout.html" %}
{% set active_page = 'highlights' %}
{% block title %}Highlights {{ date|strftime('%Y-%m-%d') }}{% endblock %}
{% block body %}
<h2>Highlights on {{ date|strftime('%Y-%m-%d') }}</h2>
{% if highlights|length == 0 %}
<p>No highlights were found on this date</p>
{% else %}
<p><a href="#calendar"><i class="icon linkify"></i> Browse Calendar</a></p>
<div class="ui divided items">
{% for highlight in highlights %}
{% include 'highlight/list.html' %}
{% endfor %}
</div>
<h3>Find more highlights here</h3>
{% endif %}
<div id="calendar"></div>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="/static/scripts/highlights.datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var disabled_dates = [
        true,
{% for enabled_date in dates_with_highlights %}
[{{ enabled_date.year }},{{ enabled_date.month - 1 }},{{ enabled_date.day}}],
{% endfor %}
    ];
{% if highlights|length == 0 %}
    create_picker('#calendar', disabled_dates, [{{ current_time.year }},{{ date.month - 1 }},{{ current_time.day}}]);
{% else %}
    create_picker('#calendar', disabled_dates, [{{ date.year }},{{ date.month - 1 }},{{ date.day}}]);
{% endif %}
});
</script>
{% endblock %}
