{% extends "layout.html" %}
{% set active_page = 'home' %}
{% block title %}Home{% endblock %}
{% block body %}
<h4>
    This is the website for <strong>{{ bot.name }}</strong> that moderates <a href="http://twitch.tv/{{ streamer.full_name }}">{{ streamer.name }}'{{ "" if streamer.name.lower().endswith('s') else "s" }}</a> channel.
</h4>
{% if stream_data['online'] == 'True' %}
<h4>The stream is currently <strong><a href="http://twitch.tv/{{ streamer.full_name }}">LIVE</a></strong> with <strong>{{ stream_data['viewers']}}</strong> viewers ({{ stream_data['game'] }}).</h4>
{% else %}
<h4>The stream is currently <strong>OFFLINE</strong>.</h4>
{% endif %}
{% if current_quest %}
<div>Today's quest: <strong>{{ current_quest.NAME }}</strong></div>
<div>{{ current_quest.get_objective() }}</div>
{% endif %}
<hr />
<p>
{% for social in streamer_info %}
<a href="{{ streamer_info[social].value }}"><i class="icon {{social}}"></i>{{streamer_info[social].title}}</a>&emsp;
{% endfor %}
</p>
{{ custom_content }}
{% endblock %}
