{% extends "layout.html" %}
{% set active_page = 'home' %}
{% block title %}Home{% endblock %}
{% block body %}
<h3>
This is the website for <strong>{{ bot.name }}</strong> that runs in <a href="http://twitch.tv/{{ streamer.full_name }}">{{ streamer.name }}'s</a> channel.
</h3>
<h1>Global Changelog</h1>
<h2>2015-12-12</h2>
<ul>
    <li>Set up an admin system for anyone who's above level 500 in the bot.</li>
    <li>It can be accessed through the link in the footer. Do note that I'm experiencing some caching issues right now, which might make the login page seem to not work, while it actually works.</li>
</ul>
{{ custom_content }}
{% endblock %}
