<!DOCTYPE html>
<html>
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
<title>{{ streamer.name }} - {% block title %}Title{% endblock %}</title>
<meta charset="utf-8">
<link rel="shortcut icon" href="/static/images/favicon_{{ streamer.full_name }}.ico" />
<style>
.pui.badge.subscriber {
    background-image: url('/static/images/badge_sub_{{ streamer.full_name }}.png');
    background-size: 100%;
}
</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
{% assets "base_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<link rel="stylesheet" type="text/css" href="//cdn.pajlada.se/css/pickadate/default.css">
<link rel="stylesheet" type="text/css" href="//cdn.pajlada.se/css/pickadate/default.date.css">
</head>
<body class="main body">
    <!--<h3>fixing website atm <img src="https://pbs.twimg.com/profile_images/612293854511919104/__arQ929.jpg"/></h3>-->
{% set active_page = active_page|default('home') %}
<header class="main header">
{% block menu %}
    <div class="ui top fixed menu">
        <div class="right menu">
        {% for menuitem in nav_bar_header %}
        <a class="item{% if menuitem.id == active_page %} active{% endif %}" href="{{ menuitem.href }}">
            {% if menuitem.id == 'home' %}
            <img class="logo" src="/static/images/logo_{{ streamer.full_name }}_tn.png" alt="{{ streamer.name }} logo"/>
            {% endif %}
            {{ menuitem.caption }}</a>
        {% endfor %}
        </div>
        <div class="left menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <form id="usersearch">
                        <div class="ui action input">
                            <input type="text" name="username" class="username" placeholder="Username">
                            <button class="ui icon button">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</header>
<main class="main container">
<div class="ui container">
    {% block body %}{% endblock %}
</div>
</main>
<br />
<footer class="main footer">
<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Community</h4>
          <div class="ui inverted link list">
           <a class="item" href="https://github.com/pajlada/pajbot/issues"><i class="warning circle icon"></i> Submit an Issue</a>
           <a class="item" href="/contact"><i class="mail icon"></i> Contact</a>
           <a class="item" href="https://twitter.com/pajlada"><i class="twitter icon"></i> Created by @pajlada</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Network</h4>
          <div class="ui inverted link list">
           <a class="item" href="https://github.com/pajlada/pajbot/"><i class="github icon"></i> GitHub Repo</a>
           <a class="item" href="http://pajbot.com/"><i class="sitemap icon"></i> Other Bots</a>
          </div>
        </div>
        <div class="four wide column">{% if session.user %}
          <h4 class="ui inverted header">Hello {{ session.user.username_raw }}</h4>
          <div class="ui inverted link list">
           {% if not session.user.level or session.user.level >= 500 %}
             <a class="item" href="/admin/"><i class="rotated legal icon"></i> Admin Zone</a>
           {% endif %}
           <a class="item" href="/logout?n={{ request.path }}"><i class="sign out icon"></i> Log out</a>{% else %}
          <h4 class="ui inverted header">Login <i class="sign in icon"></i></h4>
          <div class="ui inverted link list">
          <a href="/login?n={{ request.path }}" class="ui twitch button"><i class="twitch icon"></i>Connect with Twitch</a>{% endif %}
          </div>
        </div>
      </div>
      <div class="row">
       <div class="column"><br />
        <em style="color: #ccc;">Version: {{ version }}</em> &mdash; <em style="color: #ccc;">Last commit: {{ last_commit }}</em>
       </div>
    </div>
  </div>
</div>
</footer>
<script>
var bot_name = '{{ bot.name }}';
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
{%- assets 'base_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}
<script async src="//cdn.pajlada.se/emote.js"></script>
{%- assets 'autolinker' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}
<script src="//cdn.pajlada.se/js/pickadate/picker.js"></script>
<script src="//cdn.pajlada.se/js/pickadate/picker.date.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js"></script>
{% if google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ google_analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
{% block footer %}{% endblock %}
</body>
</html>
