<!DOCTYPE html>
<html>
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
<title>{{ streamer.name }} - {% block title %}Title{% endblock %}</title>
<meta charset="utf-8">
<meta property="og:title" content="{{ streamer.name }} - {{ self.title() }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/static/images/logo_{{ streamer.full_name }}.png" />
<meta property="og:description" content="{{ self.title() }} page for {{ bot.name }}'s website" />
<link rel="shortcut icon" href="/static/images/favicon_{{ streamer.full_name }}.ico" />
<style>
.pui.badge.subscriber {
    background-image: url('/static/images/badge_sub_{{ streamer.full_name }}.png');
    background-size: 100%;
}
</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
{% assets "base_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
</head>
<body class="main body">
{% set active_page = active_page|default('home') %}
<header class="main header">
{% block menu %}
    <div class="ui top fixed menu">
        <div class="menu" style="margin:auto;">
        {% for menuitem in nav_bar_header if menuitem.enabled %}
        <a class="item{% if menuitem.id == active_page %} active{% endif %}" href="{{ menuitem.href }}">
            {% if menuitem.id == 'home' %}
            <img class="logo" src="/static/images/logo_{{ streamer.full_name }}.png" alt="{{ streamer.name }} logo"/>
            {% endif %}
            {{ menuitem.caption }}</a>
        {% endfor %}
        <div class="item{% if active_page == "user" %} active{% endif %}">
          <div class="ui transparent icon input">
              <form id="usersearch">
                  <div class="ui action input">
                      <input type="text" name="username" class="username" placeholder="Username">
                      <button class="ui icon button">
                          <i class="search icon"></i>
                      </button>
                  </div>
              </form>
          </div>
        </div>
    </div>
{% endblock %}
</header>
<main class="main container">
<div class="ui container">
    {% block body %}{% endblock %}
</div>
</main>
<br />
<footer class="main footer">
<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Community</h4>
          <div class="ui inverted link list">
           <a class="item" href="https://github.com/pajbot/pajbot/issues"><i class="warning circle icon"></i> Submit an Issue</a>
           <a class="item" href="/contact"><i class="mail icon"></i> Contact</a>
           <a class="item" href="https://twitter.com/pajlada"><i class="twitter icon"></i> Created by @pajlada</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Network</h4>
          <div class="ui inverted link list">
           <a class="item" href="https://github.com/pajbot/pajbot/"><i class="github icon"></i> GitHub Repo</a>
           <a class="item" href="http://pajbot.com/"><i class="sitemap icon"></i> Other Bots</a>
          </div>
        </div>
        <div class="four wide column">{% if session.user %}
          <h4 class="ui inverted header">Hello {{ session.user.name }}</h4>
          <div class="ui inverted link list">
           <a class="item" href="/user/{{ session.user.login }}"><i class="user icon"></i> Profile</a>
           {% if not session.user.level or session.user.level >= 500 %}
             <a class="item" href="/admin/"><i class="legal icon"></i> Admin Zone</a>
           {% endif %}
           <a class="item" href="/logout?returnTo={{ request.path }}"><i class="sign out icon"></i> Log out</a>{% else %}
          <h4 class="ui inverted header">Login <i class="sign in icon"></i></h4>
          <div class="ui inverted link list">
          <a href="/login?returnTo={{ request.path }}" class="ui twitch button"><i class="twitch icon"></i>Connect with Twitch</a>{% endif %}
          </div>
        </div>
      </div>
      <div class="row">
       <div class="column"><br />
        <em style="color: #ccc;">Version: {{ version }}</em>{% if last_commit is not none %} &mdash; <em style="color: #ccc;">Last commit: {{ last_commit }}</em>{% endif %}
       </div>
    </div>
  </div>
</div>
</footer>
<script>
var bot_name = '{{ bot.name }}';
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.12.0/underscore-min.js" integrity="sha512-BDXGXSvYeLxaldQeYJZVWXJmkisgMlECofWFXKpWwXnfcp/R708nrs/BtNLH5cb/5TE7aeYRTDBRXu6kRL4VeQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js" integrity="sha512-t5mAtfZZmR2gl5LK7WEkJoyHCfyzoy10MlerMGhxsXl3J7uSSNTAW6FK/wvGBC8ua9AFazwMaC0LxsMTMiM5gg==" crossorigin="anonymous"></script>
{%- assets 'base_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}
{%- assets 'autolinker' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" integrity="sha512-hlLgIh4nncb2yc4YPtWk5wOykcFxF0fBd5rHfJ6xsALI2khY3H8LbivswJE5Fpz7hws7CJCqOzdyjWHiKJYl+A==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.3.2/moment-duration-format.min.js" integrity="sha512-ej3mVbjyGQoZGS3JkES4ewdpjD8UBxHRGW+MN5j7lg3aGQ0k170sFCj5QJVCFghZRCio7DEmyi+8/HAwmwWWiA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js" integrity="sha512-C3RIeaJCWeK5MLPSSrVssDBvSwamZW7Ugygc4r21guVqkeroy9wRBDaugQssAQ+m3HZsMWVvEigcNMr7juGXKA==" crossorigin="anonymous"></script>
{%- assets 'datetime' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});
</script>
{% if google_analytics %}
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
{% endif %}
{% block footer %}{% endblock %}
</body>
</html>
