<!DOCTYPE html>
<html>
<title>{{ streamer.name }} - {% block title %}Title{% endblock %}</title>
<meta charset="utf-8">
<style>
.pui.badge.subscriber {
    background-image: url('/static/images/badge_sub_{{ streamer.full_name }}.png');
    background-size: 100%;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/base.min.css?{{ commit_number }}">
<link rel="stylesheet" type="text/css" href="//cdn.pajlada.se/css/pickadate/default.css">
<link rel="stylesheet" type="text/css" href="//cdn.pajlada.se/css/pickadate/default.date.css">
</head>
<body class="main body">
{% set active_page = active_page|default('home') %}
<header class="main header">
{% block menu %}
    <div class="ui top fixed menu">
        {% for href, id, caption in nav_bar_header %}
        <a class="item{% if id == active_page %} active{% endif %}" href="{{ href }}">
            {% if id == 'home' %}
            <img class="logo" src="/static/images/logo_{{ streamer.full_name }}_tn.png" alt="{{ streamer.name }} logo"/>
            {% endif %}
            {{ caption }}</a>
        {% endfor %}
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <form id="usersearch">
                        <div class="ui action input">
                            <input type="text" name="username" class="username" placeholder="Username">
                            <button class="ui icon button">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</header>
<main class="main container">
    {% block body %}{% endblock %}
</main>
<br />
<footer class="main footer">
<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Community</h4>
          <div class="ui inverted link list">
           <a class="item" href="https://github.com/pajlada/pajbot/issues"><i class="warning circle icon"></i> Submit an Issue</a>
           <a class="item" href="/contact"><i class="mail icon"></i> Contact</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Network</h4>
          <div class="ui inverted link list">
           <a class="item" href="https://github.com/pajlada/pajbot/"><i class="github icon"></i> GitHub Repo</a>
          </div>
        </div>
        <div class="four wide column">{% if session.user %}
          <h4 class="ui inverted header">Hello {{ session.user.username_raw }}</h4>
          <div class="ui inverted link list">
           <a class="item" href="/admin/"><i class="rotated legal icon"></i> Admin Zone</a>
           <a class="item" href="/logout"><i class="sign out icon"></i> Log out</a>{% else %}
          <h4 class="ui inverted header">Login <i class="sign in icon"></i></h4>
          <div class="ui inverted link list">
           <a href="/login"><button class="ui twitch button"><i class="twitch icon"></i>connect with Twitch</button></a>{% endif %}
          </div>
        </div>
      </div>
      <div class="row">
       <div class="column"><br />
        <em style="color: #ccc;">Version: {{ version }}</em> &mdash; <em style="color: #ccc;">Last commit: {{ last_commit }}</em>
       </div>
    </div>
  </div>
</div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/static/semantic/semantic.min.js"></script>
<script src="/static/scripts/base.js?{{ commit_number }}"></script>
<script async src="//cdn.pajlada.se/emote.js"></script>
<script src="/static/scripts/autolinker.min.js"></script>
<script src="//cdn.pajlada.se/js/pickadate/picker.js"></script>
<script src="//cdn.pajlada.se/js/pickadate/picker.date.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
{% block footer %}{% endblock %}
</body>
</html>
