{% extends "layout.html" %}
{% set active_page = 'pleblist' %}
{% block title %}Pleblist{% endblock %}
{% block body %}
<div id="pleblist">
    <div class="ui sixteen column doubling grid container" style="height: 100%;">
        <div class="row">
            <div class="twelve wide column">
                <div id="player"></div>
                <div class="buttons ui equal width center aligned padded grid" style="width: 100%;">
                    <div class="row">
                        <div class="column">
                            <button class="ui button fluid black">Blacklist</button>
                        </div>
                        <div class="column">
                            <button class="ui button fluid" id="skip_btn">Skip</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <button class="ui button fluid" onclick="start_pleblist()" id="start_button">Start</button>
                <h3>Songlist (<span id="num_songs">0</span> songs)</h3>
                <div class="ui list" id="songlist">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="/static/scripts/pleblist.js"></script>
{% endblock %}
