{% extends "layout.html" %}
{% set active_page = 'pleblist' %}
{% block title %}Pleblist{% endblock %}
{% block body %}
<div id="guest_only">
    <p>Currently in <strong>Guest Mode</strong></p>
    <p>If you are looking for the pleblist song list, click <a href="/pleblist/history/">here</a>.</p>
    <p>If you believe you should be in Client Mode, try refreshing the page or making sure you've been logged into the <a href="/pleblist/host/">host page</a> properly at least once.</p>
</div>
<div id="pleblist">
    <p>Currently in <strong>Client Mode</strong>. All controls should work.</p>
    <div class="pleblist-wrapper">
        <div class="songlist-wrapper">
            <h3>Recent Subs</h3>
            <div class="ui feed">
                <div class="event">
                    <div class="content subs"></div>
                </div>
            </div>
            <button class="ui button fluid" onclick="start_pleblist()" id="start_button">Start</button>
            <h3>Songlist (<span id="num_songs">0</span> songs)</h3>
            <span><em>Total duration: <span id="total_duration">?</span></em></span>
            <div class="ui list" id="songlist"></div>
        </div>
        <div class="player-wrapper">
            <div class="inner-player-wrapper"><div id="player"></div></div>
            <div class="buttons">
                <button class="ui button fluid" id="skip_btn">Skip</button>
            </div>
            <div id="add_song_container">
                <div class="ui input">
                    <input type="text" id="song_input" placeholder="Youtube link">
                </div>
                <button class="ui button" id="add_song">Add song</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
var ws_host = '{{ site.websocket.host }}';
</script>
{% assets 'pleblist_shared' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets 'pleblist_client' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets 'notifications_subscribers' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
