{% extends "layout.html" %}
{% set active_page = 'pleblist' %}
{% block title %}Pleblist Host{% endblock %}
{% block body %}
<div id="pleblist_host">
    <div id="button_div">
        {% if has_streamelements %}
        <a href="/api/v1/streamelements/login">
            <button class="ui button streamelements">Log in with StreamElements</button>
        </a>
        {% endif %}
        {% if has_streamtip %}
        <a href="/api/v1/streamtip/login">
            <button class="ui button streamtip">Log in with Streamtip</button>
        </a>
        {% endif %}
        {% if has_streamlabs %}
        <a href="/api/v1/streamlabs/login">
            <button class="ui button streamlabs">Log in with Streamlabs</button>
        </a>
        {% endif %}
    </div>
    <div id="notification"></div>
    <div class="ui divided items" id="donationlist"></div>
</div>
{% endblock %}
{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
{% assets 'pleblist_shared' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
var streamtip_client_id = '{{ streamtip_client_id }}';
</script>
{% assets 'pleblist_host' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
