{% extends "layout.html" %}
{% set active_page = 'pleblist' %}
{% block title %}Pleblist History{% endblock %}
{% block body %}
<div class="navigation">
{% if previous_stream -%}
    <span style="float: left;">
    <a href="/pleblist/history/{{ previous_stream.id }}/"><i class="chevron left icon"></i> {{ previous_stream.title }}</a>
    </span>
{%- endif %}
{% if next_stream -%}
    <span style="float: right;">
    <a href="/pleblist/history/{{ next_stream.id }}/">{{ next_stream.title }} <i class="chevron right icon"></i></a>
    </span>
{%- endif %}
</div>
<div style="clear: both;"></div>

<h2 class="pemote">Pleblist History - {{ stream.title }}</h2>

<div class="ui vertical">Stream started: {{ stream.stream_start|localize|strftime('%A, %B %d %Y %H:%M:%S %Z') }}</div>
{% if stream.stream_end is none %}
    <div class="ui vertical">Stream uptime: {{ stream.stream_start|time_ago }}</div>
    <div class="ui vertical">Time left on pleblist: {{ total_length_left|time_ago_timespan_seconds }}</div>
    {% if first_unplayed_song %}
        <div class="ui vertical"><h5><a href="#current"><i class="icon linkify black"></i></a>Current song: <strong>{{ first_unplayed_song[1].song_info.title }}</strong> (<a href="https://youtu.be/{{ first_unplayed_song[1].youtube_id}}">LINK</a>)</h4></div>
    {% endif %}
{% else %}
    <div class="ui vertical">Stream ended: {{ stream.stream_end|localize|strftime('%A, %B %d %Y %H:%M:%S %Z') }}</div>
    <div class="ui vertical">Stream lasted for: {{ stream.stream_end|time_diff(stream.stream_start) }}</div>
{% endif %}

<div id="songhistory" class="ui list celled">
{% for data, song in songs %}
    <div class="item {{ 'not-played' if song.date_played is none else 'played' }}{{ ' first' if data.queue_index == 0 and stream.stream_end is none else ''}}">
    {% if data.queue_index == 0 and stream.stream_end is none and song.date_played is none %}
        <div class="anchor" id="current"></div>
    {% endif %}
        <div class="ui small image">
            <img src="{{ song.song_info.default_thumbnail }}" alt="Thumbnail" />
        </div>
        <div class="content">
            <span class="header">{{ song.song_info.title if song.song_info else '???' }}</span>
            <div class="description">
                Song link <a href="https://youtu.be/{{ song.youtube_id }}">youtu.be/{{ song.youtube_id }}</a><br/>
                Added {{ song.date_added|localize|strftime('%Y-%m-%d %H:%M:%S %Z') }}
                <br />
                {% if song.date_played is not none %}
                    Played: {{ song.date_played|localize|strftime('%Y-%m-%d %H:%M:%S %Z') }} <em>({{ song.date_played|time_ago}} ago)</em>
                    {% for stream_chunk in stream_chunks %}
                        <br />VOD link: <a href="{{ data.vod_url }}">{{ data.vod_url }}</a>
                    {% endfor %}
                {% else %}
                    {% if stream.stream_end is none %}
                        {% if data.queue_index > 0 %}
                            Playing in: ~{{ data.queue_time|time_ago_timespan_seconds }}
                        {% else %}
                            Playing now!
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
