{% extends "layout.html" %}
{% set active_page = 'points' %}
{% block title %}Points{% endblock %}
{% block body %}
{% if chatters_refresh_enabled and (chatters_refresh_settings["base_points_sub"] > 0 or chatters_refresh_settings["base_points_pleb"] > 0) %}
    <h2>Description</h2>

    {% set offline_chat_multiplier = chatters_refresh_settings["offline_chat_multiplier"] / 100 %}
    {% set offline_points_sub = (chatters_refresh_settings["base_points_sub"] * offline_chat_multiplier)|round|int %}
    {% set offline_points_pleb = (chatters_refresh_settings["base_points_pleb"] * offline_chat_multiplier)|round|int %}

    {% if chatters_refresh_settings["base_points_sub"] > 0 %}
        <p>
            <i class="large icon pin"></i>Subscribers gain <strong>{{ chatters_refresh_settings["base_points_sub"]|with_unit("point") }} every {{ chatters_refresh_interval|with_unit("minute") }}</strong> of watching the stream
                {%- if offline_points_sub > 0 -%}
                    , and {{ offline_points_sub|with_unit("point") }} for every {{ chatters_refresh_interval|with_unit("minute") }} of being in offline chat
                {%- endif -%}
            .
        </p>
    {% endif %}
    {% if chatters_refresh_settings["base_points_pleb"] > 0 %}
        <p>
            <i class="large icon pin"></i>Non-Subscribers gain <strong>{{ chatters_refresh_settings["base_points_pleb"]|with_unit("point") }} every {{ chatters_refresh_interval|with_unit("minute") }}</strong> of watching the stream
                {%- if offline_points_pleb > 0 -%}
                    , and {{ offline_points_pleb|with_unit("point") }} for every {{ chatters_refresh_interval|with_unit("minute") }} of being in offline chat
                {%- endif -%}
            .
        </p>
    {% endif %}
{% endif %}
{{ custom_content }}
<h2>Check your own Points and Rank</h2>
<div id="check_points" class="ui form">
    <form>
        <div class="field username">
            <input type="text" placeholder="Username">
        </div>
        <button class="ui submit button">Submit</button>
    </form>
    <div class="ui response hidden"></div>
</div>
<h2>Points Leaderboard</h2>
<div id="top_users">
    <table class="ui very basic table collapsing">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for user, rank in top_30_users %}
                {% include 'list/user.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$('#check_points .submit.button')
.api({
    action: 'get_user_from_user_input',
    beforeSend: function(settings) {
        settings.urlData = {
            username: $('#check_points div.field.username input').val()
        };
        return settings;
    },
    successTest: function(response) {
        return response.error == false || true;
    },
    onSuccess: function(response) {
        var el = $('#check_points .response');
        el.addClass('message green');
        el.removeClass('red');
        el.html('User <a href="/user/' + response.login + '"><strong class="username">' + response.name + '</strong></a> has <strong class="points">' + response.points + '</strong> points and is ranked <strong class="rank">' + response.points_rank + '</strong>.');
        if (el.hasClass('hidden')) {
            el.transition({
                animation: 'slide down',
                duration: '500ms',
            });
        }
    },
    onFailure: function(response) {
        var el = $('#check_points .response');
        el.addClass('message red');
        el.removeClass('green');
        el.html('No user with the name <strong class="username">XXX</strong> found.');
        el.find('strong.username').text($('#check_points div.field.username input').val());
        if (el.hasClass('hidden')) {
            el.transition({
                animation: 'slide down',
                duration: '500ms',
            });
        }
    }
});
</script>
{% endblock %}
