{% extends "layout.html" %}
{% set active_page = 'songrequest' %}
{% block title %}Songrequest History{% endblock %}
{% block body %}
<link rel="stylesheet" href="/static/css/songrequest-websocket.css">
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css">
</div>
<div class="main container">
    <div class="custom-left-css">
        <table id="plList">
            <caption><h1>Song Request Queue</h1></caption>
            {%for song in songs_queue%} 
            <tr class="plItem">
                <td class="plNum">{{song["track_number"]}}</td> 
                <td class="plTitle"><a target="_blank" style="color:white" href={{song["link"]}}>{{song["video_title"]}}  ~  {{song["requested_by"]}}</a></td> 
                <td class="plLength">{{song["video_length"]}} playing in ~ {{song["playing_in"]}}</td> 
            </tr>
            {%endfor%} 
        </table>
    </div>
    <div class="custom-right-css">
        <table id="buList">
            <caption><h1>Song History Queue</h1></caption>
            {%for song in songs_history%} 
            <tr class="buItem">
                <td class="buNum">{{song["track_number"]}}</td> 
                <td class="buTitle"><a target="_blank" style="color:white" href={{song["link"]}}>{{song["video_title"]}}  ~  {{song["requested_by"]}}</a></td> 
                <td class="buLength">{{song["video_length"]}}</td> 
            </tr>
            {%endfor%}
        </table>
    </div>
{% endblock %}
{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.6/plyr.min.js"></script>
{% endblock %}