{% extends "admin/layout.html" %}
{% set active_page = 'admin_clr' %}
{% block title %}Admin - CLR - Donations - Edit{% endblock %}
{% block body %}
{% if new %}
<h2>Creating new widget</h2>
{% else %}
<h2>Editing existing widget</h2>
{% endif %}
<p>
<a href="/admin/clr/donations/"><i class="icon long arrow left"></i> Back to widget list</a>
</p>
<p>
Get your Streamtip Client ID and Access Token here: <a href="https://streamtip.com/account/payments">https://streamtip.com/account/payments</a>
</p>
<p>
<a href="/clr/donations/{{ widget_id }}">WIDGET LINK</a>
</p>
<p>
<button class="ui button green save"><i class="icon save"></i> Save</button>
</p>
<div class="ui form" id="conditions">
<table class="formtable ui single line table" data-condition="default">
    <thead>
        <tr>
            <th class="collapsing"></th>
            <th></th>
            <th class="collapsing"></th>
        </tr>
    </thead>
    <tbody data-key="base">
        <tr>
            <td colspan="3">
                <button class="ui button btn_add" onclick="add_new_condition()"><i class="icon add green"></i> Add new condition</button>
            </td>
        </tr>
        <tr data-key="name">
            <td class="label">Widget Name</td>
            <td>
                <div class="ui input" style="display: block;">
                    <input type="text" value="Widget!" />
                </div>
            </td>
            <td></td>
        </tr>
        <tr data-key="streamtip_client_id">
            <td class="label">Streamtip Client ID</td>
            <td>
                <div class="ui input">
                    <input type="text" />
                </div>
            </td>
            <td></td>
        </tr>
        <tr data-key="streamtip_access_token">
            <td class="label">Streamtip Access Token</td>
            <td>
                <div class="ui input">
                    <input type="text" />
                </div>
            </td>
            <td></td>
        </tr>
        <tr data-key="widget_type">
            <td class="label">Widget Type</td>
            <td>
                <div class="ui input">
                    <input type="text" value="split" />
                </div>
            </td>
            <td>Valid arguments: split, basic</td>
        </tr>
        <tr data-key="widget_width">
            <td class="label">Widget Width</td>
            <td>
                <div class="ui input">
                    <input type="text" value="540" />
                </div>
            </td>
            <td>px</td>
        </tr>
        <tr data-key="widget_height">
            <td class="label">Widget Height</td>
            <td>
                <div class="ui input">
                    <input type="text" value="110" />
                </div>
            </td>
            <td>px</td>
        </tr>
        <tr data-key="custom_css">
            <td class="label">Custom CSS</td>
            <td>
                <div class="ui field">
                    <textarea rows="10" style="font-family: monospace;"></textarea>
                </div>
            </td>
            <td></td>
        </tr>
        <tr data-key="tts">
            <td class="label">Text to speech</td>
            <td>
                <div class="ui checkbox">
                    <input type="checkbox" name="xd">
                    <label>TTS Enabled</label>
                </div>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
<p>
<a href="/clr/donations/{{ widget_id }}">WIDGET LINK</a>
</p>
<p>
<button class="ui button green save"><i class="icon save"></i> Save</button>
</p>
{% endblock %}
{% block footer %}
{%- assets 'admin_clr_donations_edit_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}
<script>
var current_widget_id = '{{widget_id}}';

$(document).ready(function() {
    load_widget({{ widget_data|safe }});
});
</script>
{% endblock %}
