{% extends "admin/layout.html" %}
{% set active_page = 'admin_clr' %}
{% block title %}Admin - CLR - Donations{% endblock %}
{% block body %}
<h2>CLR Donations</h2>
<p>
<a href="/admin/clr/"><i class="icon long arrow left"></i> Back</a>
</p>
<table class="ui table collapsing basic">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for widget_id in widgets %}
        <tr>
            <td>{{ widgets[widget_id].name }}</td>
            <td><a href="/admin/clr/donations/{{ widget_id }}/edit">Edit</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
<a class="ui button green new" href="/admin/clr/donations/{{ new_widget_id }}/edit"><i class="icon add"></i> Create New Widget</a>
</p>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    //
});
</script>
{% endblock %}
