<tr>
    <td>{{ deck.id }}</td>
    <td>
        {% if not deck.deck_class == 'undefined' %}
        <a href="/decks/{{ deck.deck_class }}/">
        <div class="pui class {{ deck.deck_class }}"></div>
        </a>
        {% endif %}
    </td>
    <td>
        <a href="{{ deck.link }}">{% if deck.name|length > 0 %}{{ deck.name }}{% else %}<em>Unnamed</em>{% endif %}</a>
    </td>
    <td>
        <time datetime="{{deck.first_used }}" title="{{deck.first_used }}">{{ deck.first_used|time_ago }}</time> ago
    </td>
    <td>
        {% if deck.times_used > 1 %}
            {{ deck.last_used|time_ago }} ago
        {% endif %}
    </td>
</tr>
