<tr>
    <td>{{ deck.id }}</td>
    <td>
        <div class="pui class {{ deck.deck_class }}"></div>
    </td>
    <td class="pemote">
        <a href="{{ deck.link }}">
        {% if deck.name|length > 0 %}
            {{ deck.name }}
        {% else %}
            <em>Unnamed</em>
        {% endif %}
        </a>
    </td>
    <td>
        <time datetime="{{deck.first_used }}" title="{{deck.first_used }}">{{ deck.first_used|time_ago }}</time> ago
    </td>
    <td>
        {% if deck.times_used > 1 %}
            {{ deck.last_used|time_ago }} ago
        {% endif %}
    </td>
</tr>
