{% for user in moderator_users %}
{% if user.id == command.data.added_by %}<td class="collapsing">{% include 'user/username_link.html' %}</td>{% endif %}
{% endfor %}
{% if command.data.added_by == None %}<td class="collapsing">No Data</td>{% endif %}
{% for user in moderator_users %}  
{% if user.id == command.data.edited_by %}<td class="collapsing">{% include 'user/username_link.html' %}</td>{% endif %}
{% endfor %}
{% if command.data.edited_by == None %}<td class="collapsing">No Data</td>{% endif %}