---
name: Python 4HEad

on:
  push:
    branches:
      - master
  pull_request:

env:
  SKIP_PYENV: "1"

jobs:
  test:
    name: "Test ubuntu-latest, Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - name: Set up Python
        run: uv python install ${{ matrix.python-version }}
      - name: Install project
        run: uv sync --all-extras --dev
      - name: Run pajbot lib tests
        run: uv run pytest
        working-directory: pajbot

  check_format:
    name: "Check format ubuntu-latest, Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache virtual environment
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: ./venv
          key: ubuntu-latest-${{ steps.setup-python.outputs.python-version }}-prod@${{ hashFiles('requirements.txt') }}-dev@${{ hashFiles('requirements-dev.txt') }}

      - name: Install dependencies
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: ./scripts/venvinstall.sh --dev

      - name: Check code style
        run: . venv/bin/activate && ./scripts/reformat.sh --check
